
@import url(https://fonts.googleapis.com/css?family=Mystery+Quest);

body {
	font-size: 32px;
	font-family: 'Aladin', cursive;
	padding: 6px;
	line-height: 1.3;
	width: auto;
	background-size: contain;
	background-repeat: no-repeat;
	margin: 2em auto;
}

body {
   position: relative;
}
body: after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/FamilyTree.jpg"); 
    width: 100%;
    height: 100%;
    opacity : 0.2;
    z-index: -1;
}

h1 {
	font-size: 54px;
	font-family:'Aladin', cursive;
	padding: 4px;
	margin: 5px
	color: gray;
	text-align: center;
}

h2 {
	font-size: 45px;
	font-family:'Aladin', cursive;
	padding: 4px;
	margin: 5px
	color: gray;
}

h1,h2 {
	text-transform: uppercase;
	display: inline-block;
	border-bottom: 4 px solid black;
	font-weight: 800;
}

header {
	font-size: 38px;
	color: green;
	font-family: 'Mystery Quest', cursive;
	font-style: italic;
	border: 8px solid black;
	padding: 12px;
	margin: 8px;
	text-align: center;
	text-transform: uppercase;
}

nav {
	text-align: center;
	background color: black;
	font-family: 'Mystery Quest', cursive;
	color: green;
	margin:4px;
	font-size: 18px
	margin: 10px;
/*	border: 10px black solid;*/
	float:right;
}


nav li {
	background-color: #FF7900;
	color: white;
	text-decoration: none;
	margin-left: 10px;
	margin-right: 1.8em;
	color: white;
	display: inline-block;
	width: 124px;
	padding: 10px 0;
	float: left;
}

nav a:hover {
	background-color:red;
}


ul {
	list-style: none;
	margin:0;
	padding: 0;
	font-size: 16px;
	color: gray;
	text-transform: uppercase;
}

.contact {
	font-size: 16px;
	color:black;
	text-align: center;
	width:30em;
	text-decoration:italic;
}

#Family {
	font-size: 32px
	color:black;
	text-align: center;
	width:30em;
	text-decoration:italic;
}


#footer {
	text-align: center;
}

